@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  /*colors*/
  --lightPurple: #f5ebf5;
  --mediumPurple: #685093;
  --darkPurple: #484665;
  --yellow: #ffc502;
  --fuschia: #fa015a;
}

input, button {
  appearance:none;
  background: none;
  border: none;
  outline: none;
}

.App {
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: var(--lightPurple);
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 2px solid var(--yellow);
  border-top: 2px double var(--fuschia);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.navbar h1 {
  color: var(--darkPurple);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--fuschia);
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--mediumPurple) 50%, var(--mediumPurple) 50%, var(--darkPurple));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-position: 100% 0%;
}

/* -------- POSTS -------- */
/* .all-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

  .single-post-card {
    flex-basis: 200px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
    
    .header-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 10px;
    }
    
    .header-info h2 {
      margin-bottom: 10px;
    }
    
    .description {
      font-size: x-large;
    }
    
    .price {
      font-style: italic;
    }
    
    .single-post-view {
      flex-basis: 500px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
      margin: 5px 10px;
      padding: 10px;
      border-radius: 10px;
    
      display: flex;
      flex-direction: column;
    }
    
    .single-post-view > p {
      margin: 10px 0px 0px 0px;
    }

/* -------Login Form------- */
form {
  display: block;
  position: relative;
}

form::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, var(--lightPurple), var(--darkPurple));
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 30px;
  z-index: 2;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form .form-inner h2 {
  color:#888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: var(--fuschia);
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)
}

form .form-inner input[type='submit'], .welcome button {
display: inline-block;
padding: 10px 15px;
border-radius: 8px;
background-image: linear-gradient(to right, var(--lightPurple) 50%, var(--mediumPurple) 50%, var(--darkPurple));
background-size: 200%;
background-position: 0%;
transition: 0.4s;
color: #ffffff;
font-weight: 700;
cursor: pointer;
}

.error {
  color: var(--fuschia)
}

form .form-inner input[type='submit']:hover,
.welcome button:hover {
    background-position: 100% 0%;
}

.notMember, .member {
  margin: 20px;
}

/* -------- Welcome page ---------- */
.welcome {
  width: 100%;
  /* max-width: 480px; */
  background-color: #fff;
  padding: 15px 30px;
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom:30px
}

.welcome h2 span {
  color: var(--mediumPurple);
}
    
/* blog previews / list */
.post-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: white;
  border-radius: 10px;
}
.post-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.post-preview h2 {
  font-size: 20px;
  color: var(--fuschia);
  margin-bottom: 8px;
}
